main button {
  border: none;
  border-radius: 0.5em;
  line-height: 1em;
  color: white;
  background-color: #CCC;
  padding: 0.75em 1.5em;
  display: inline-block;
  text-decoration: none;
  appearance: none;

  &:not(:disabled) {
    cursor: pointer;
    background-color: #000;
    &:hover {
      background-color: #da291c;
    }
  }
}
