<h1>Single select</h1>

<p>Values can be simple types or user defined classes</p>

<app-required-imports>
  <app-import classes="FormControl, Form, Validators" package="@nephilimsoftware/forms"></app-import>
</app-required-imports>

<app-control-ts-code>public readonly form: ExampleForm = new ExampleForm();</app-control-ts-code>
<p>Additional definitions used in example:</p>
<pre><code></code></pre>

<app-control-template-code>
</app-control-template-code>

<app-control-example>
  <form (submit)="onSubmitted($event)">
    <label>title:</label>
    <input [formControl]="form.title" type="text" /><br/>
    <label>age:</label>
    <input [formControl]="form.age" type="number" /><br/>
    <button type="submit" [disabled]="form.isDisabled | async">Submit</button>
  </form>
</app-control-example>

<ng-container *ngIf="result | async as result">
  <h2>Submitted result:</h2>
  <pre><samp>{{ result | json }}</samp></pre>
</ng-container>

<ng-container *ngIf="form.validationErrors | async as validationErrors">
  <h2>Validation Errors:</h2>
  <pre><samp>{{ validationErrors.join('\n') }}</samp></pre>
</ng-container>
